body {
    text-align: center;
}

.my_nav_bar {
    position: sticky;
    top: 0;
    z-index: 99999;
}
.campus_mainDiv {
    border: 1px solid lightslategrey;
}
.campus_mainDiv img {
    width: 100%
}
.campus_mainDiv p {
  margin: 20px;  
}